<!DOCTYPE html>
<head>
    <% include ../layouts/head-client %>
</head>
<body>
    <header>
        <div>
            <a href="/admin">Daftar Soal</a> | 
            <a href="/admin/add">Tambahkan Soal Baru</a> | 
        </div>    
        <h1><%= title %></h1>
    </header>
    <main>
 
         
        <form action="/admin/add" method="post" name="form1">
            <table width="25%" border="0" id="myTable">
                <tbody>
                <tr> 
                    <td>Soal</td>
                    <td><textarea name="soal_ajkuiz" id="soal_ajkuiz" rows="3" cols="40">Masukan soal di sini...</textarea></td>
                </tr>
                <tr> 
                    <td>Opsi A</td>
                    <td><textarea name="opsiA_ajkuiz" id="opsiA_ajkuiz" rows="3" cols="40">Masukan opsi pilihan A...</textarea></td>
                </tr>
                <tr> 
                    <td>Opsi B</td>
                    <td><textarea name="opsiB_ajkuiz" id="opsiB_ajkuiz" rows="3" cols="40">Masukan opsi pilihan B...</textarea></td>
                </tr>
                <tr> 
                    <td>Opsi C</td>
                    <td><textarea name="opsiC_ajkuiz" id="opsiC_ajkuiz" rows="3" cols="40">Masukan opsi pilihan C...</textarea></td>
                </tr>
                <tr> 
                    <td>Opsi D</td>
                    <td><textarea name="opsiD_ajkuiz" id="opsiD_ajkuiz" rows="3" cols="40">Masukan opsi pilihan D...</textarea></td>
                </tr>
                <tr> 
                    <td>Kategori Soal</td>
                    <td>
                        <select id="kategori_ajkuiz" data-style="btn-info" name="kategori_ajkuiz">
                                <option value="">Pilih Kategori</option>
                                <% data.forEach(function(row) { %>
                                    <option value="<%= row.nama %>"><%= row.nama %></option>
                                <% }) %>
                        </select>
                    </td>
                    <td><input type="checkbox" id="kategoriBox"></td>
                    <td><input type="text" id="kategoriText" name="kategori_ajkuiz" disabled value="Tambah Kategori Baru"/></td>

                </tr>
                <tr> 
                    <td>Jawaban Soal</td>
                    <td><input type="text" name="jawaban_ajkuiz" value="<%= jawaban_ajkuiz %>" /></td>
                </tr>
                <tr> 
                    <td></td>
                    <td><input type="submit" name="Submit" value="Add" /></td>
                </tr>
                </tbody>
            </table>
        </form>
    </main>
    <footer></footer>
</body>

<script>
document.getElementById('kategoriBox').onchange = function() {
    document.getElementById('kategoriText').disabled = !this.checked;
    document.getElementById('kategori_ajkuiz').disabled = this.checked;
};
</script>