<!DOCTYPE html>
<head>
    <% include ../layouts/head-client %>
</head>
<body>
    <header>
        <div>
            <a href="/admin" class='button' style="vertical-align:middle" >Daftar Soal</a> | 
            <a href="/admin/add" class='button'style="vertical-align:middle" >Tambahkan Soal Baru</a>  
        </div>    
        <h1 align="right"><%= title %></h1>
    </header>
    <main>
 
         
        <form action="/admin/add" method="post" name="form1">
            <table id="myTable">
                <tbody>
                <tr> 
                    <th>Soal</th>
                    <td colspan="2"><textarea name="soal_ajkuiz" id="soal_ajkuiz" rows="3" cols="35">Masukan soal di sini...</textarea></td>
                </tr>
                <tr> 
                    <th>Opsi A</th>
                    <td colspan="2"><textarea name="opsiA_ajkuiz" id="opsiA_ajkuiz" rows="3" cols="35">Masukan opsi pilihan A...</textarea></td>
                </tr>
                <tr> 
                    <th>Opsi B</th>
                    <td colspan="2"><textarea name="opsiB_ajkuiz" id="opsiB_ajkuiz" rows="3" cols="35">Masukan opsi pilihan B...</textarea></td>
                </tr>
                <tr> 
                    <th>Opsi C</th>
                    <td colspan="2"><textarea name="opsiC_ajkuiz" id="opsiC_ajkuiz" rows="3" cols="35">Masukan opsi pilihan C...</textarea></td>
                </tr>
                <tr> 
                    <th>Opsi D</th>
                    <td colspan="2"><textarea name="opsiD_ajkuiz" id="opsiD_ajkuiz" rows="3" cols="35">Masukan opsi pilihan D...</textarea></td>
                </tr>
                <tr> 
                    <th>Kategori Soal</th>
                    <td>
                        <select id="kategori_ajkuiz" data-style="btn-info" name="kategori_ajkuiz">
                                <option value="">Pilih Kategori</option>
                                <% data.forEach(function(row) { %>
                                    <option value="<%= row.nama %>"><%= row.nama %></option>
                                <% }) %>
                        </select>
                    </td>
                    <td><input type="checkbox" id="kategoriBox"><input type="text" id="kategoriText" name="kategori_ajkuiz" disabled value="Tambah Kategori Baru"/></td>

                </tr>
                <tr> 
                    <th>Jawaban Soal</th>
                    <td colspan="2"><input type="text" name="jawaban_ajkuiz" value="A/B/C/D" /></td>
                </tr>
                <tr> 
                    <td colspan="3"><b><input type="submit" class="tombol" name="Submit" value="Tambahkan Soal" /></b></td>
                </tr>
                </tbody>
            </table>
        </form>
    </main>
    <footer></footer>
</body>

<script>
document.getElementById('kategoriBox').onchange = function() {
    document.getElementById('kategoriText').disabled = !this.checked;
    document.getElementById('kategori_ajkuiz').disabled = this.checked;
};
</script>