<div id="myModalRoomView" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="padding-top: 2em; padding-bottom: 2em; background: #2c95e3;">
      <div style="text-align: center; margin-top: 5%; ">
        <img src="images/ajkuiz.png" style="width: 500px;">
      </div>
      <div class="modal-body" style=" ">
        <form role="form" id="myFormNumberView" style="width:50%; margin:0 auto;">
          <div class="form-group">
            <label style="color: #fff;"><span class="glyphicon glyphicon-user"></span> Room Number:</label>
            <span id="roomNumberView"></span>
          </div>
          <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Enter</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalCat" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="padding:10px 10px;text-align:center">
        <h4 style="display:inline-block">Kategori</h4>
        <button style="display:inline-block" type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="padding:40px 50px;text-align:center">
        <button class="btn btn-default but-cat"  value="teknologi">Teknologi</button>
        <button class="btn btn-default but-cat"  value="umum">Umum</button>
      </div>
    </div> 
  </div>
</div>
<div class="modal fade" id="myModalStart" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="padding:10px 10px;text-align:center">
      </div>
      <div class="modal-body" style="padding:40px 50px;text-align:center">
        <h4>Are you ready?</h4>
        <button class="btn btn-default" id="but-start">Start</button>
      </div>
    </div> 
  </div>
</div>
<div class="modal fade" id="myModalWinner" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="padding:10px 10px;text-align:center">
      </div>
      <div class="modal-body" style="padding:40px 50px;text-align:center">
        <h4>Kuis sudah selesai<br>
          <span id="theWinner"></span>
        </h4>
        <button class="btn btn-default" onclick="location.reload()">Refresh</button>
      </div>
    </div> 
  </div>
</div>