<!DOCTYPE html>
<html>
  <head>
  	
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/style.css'/>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  	<link rel="stylesheet" href="css/bootstrap-responsive.css" />
  	<link rel="stylesheet" href="css/font-awesome.min.css" />

    <script src="js/socket.io.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app_dashboard.js"></script>
  </head>
  <body>
  		{{{body}}}
  <div class="modal fade" id="myModalCat" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div style="padding:10px 10px;text-align:center">
	        	<h4 style="display:inline-block">Kategori</h4>
	         	<button style="display:inline-block" type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
	        <div class="modal-body" style="padding:40px 50px;text-align:center">
	        	<button class="btn btn-default but-cat"  value="teknologi">Teknologi</button>
	        	<button class="btn btn-default but-cat"  value="umum">Umum</button>
	        </div>
	      </div> 
	    </div>
  </div>
  <div class="modal fade" id="myModalStart" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div style="padding:10px 10px;text-align:center">
          </div>
          <div class="modal-body" style="padding:40px 50px;text-align:center">
            <h4>Are you ready?</h4>
            <button class="btn btn-default" id="but-start">Start</button>
          </div>
        </div> 
      </div>
  </div>
  <div class="modal fade" id="myModalWinner" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div style="padding:10px 10px;text-align:center">

          </div>
          <div class="modal-body" style="padding:40px 50px;text-align:center">
              <h4>Kuis sudah selesai<br>
                <span id="theWinner"></span>
              </h4>
            <button class="btn btn-default" onclick="location.reload()">Refresh</button>
          </div>
        </div> 
      </div>
  </div>
  </body>
</html>
