<nav class="navbar navbar-default navbar-fixed-top" style="background-color:transparent; position:fixed;border:none;" role="navigation" id="navi">
    <div class="container" style="width:90%">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="nav navbar-brand" style="font-weight:bold" href="#"></a>
      </div>    
      <div style="" class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right" style="font-weight:bold">
              <li><a class="nav-menu" href="#/">HOME</a></li> 
              <li><a class="nav-menu" href="#about">ABOUT</a></li> 
              <li><a class="nav-menu"  href="">PORTOFOLIO</a></li>
              <li><a class="nav-menu" href="">PICTURE</a></li>
              <li><a class="nav-menu"  href="">ARTICLES</a></li>
              <li><a class="nav-menu" href="#contact">CONTACT</a></li> 
       </ul>
      </div>
    </div>
</nav>