<div id="clientContaint" style="display:none">
<div style="text-align:center">
	<p style="font-size:2em">Hai, <span id="userApp"></span><br>
		Selamat mengerjakan!
	</p>
</div>
<div class="container" style="">
		<div class="row" style="top:50%;text-align:center;border: 2px solid #008CBA;padding:0.5em;">
			<div style="">
				<p>Pilihan Jawaban<span> No. </span><span id="noSoal">0</span></p>
				<div style="height:100%; top:50%;padding:0.5em; text-align:center;">
					    <div class="coll">
					    	<button class="btn but-ans btn-circle pull-left" value="A">A. 
					    		<span id="opsiA"></span>
					    	</button>
					    </div>
					    <div class="coll">
					    	<button class="btn but-ans btn-circle pull-right" value="B">B. 
					    		<span id="opsiB"></span>
					    	</button>
					    </div>
					    <div class="coll">
					    	<button class="btn but-ans btn-circle pull-left" value="C">C.
					    		<span id="opsiC"></span>
					    	</button>
					    </div>
					    <div class="coll">
					    	<button class="btn but-ans btn-circle pull-right" value="D">D. 
					    		<span id="opsiD"></span>
					    	</button>
					    </div>
				</div>
			</div>
		</div>
	</div>
</div>