<!DOCTYPE html>
<head>
	<% include layouts/head-server %>
</head>
<body>
	<header></header>
	<main>
		<% include layouts/body-add-server %>
		<div id="dashboardContent" style="display:none">
			<div>
				<p style="font-size:1.5em">Kategori : <span id="kategoriSoal"></span> | Timer : <span id="timerCountdown"></span> detik</p>
			</div>
			<div class="jumbotron" style="padding:2em">
					<p style="word-wrap:break-word;"><span id="noSoal">1</span>. <span id="soalnya">Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?Siapa presiden Amerika?</span></p>
			</div>
				<div class="container-fluid" style="">
					<div class="row">
						<div class="col-sm-12 list-clients" style=" ">
							<table style="width:80%;margin: 0 auto">
								<tbody>
									<tr style="height:5em:">
										<td style="width:50%; padding:1em;"><p style="color:white;font-size:1.5em;background-color:#1abc9c;padding:1em;">A. <span id="pilihanA"></span></p></td>
										<td style="width:50%; padding:1em;"><p style="color:white;font-size:1.5em;background-color:#1abc9c;padding:1em;">B. <span id="pilihanB"></span></p></td>
									</tr>
									<tr style="height:5em;">
										<td style="width:50%; padding:1em;"><p style="color:white;font-size:1.5em;background-color:#1abc9c;padding:1em;">C. <span id="pilihanC"></span></p></td>
										<td style="width:50%; padding:1em;"><p style="color:white;font-size:1.5em;background-color:#1abc9c;padding:1em;">D. <span id="pilihanD"></span></p></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer></footer>
</body>


